<div class="container mt-5">
  <div class="d-flex flex-column col-12 col-md-8 mx-auto"> 
     {{> message }}  
    <div class="d-flex category-section justify-content-center">
      <form action="/" method="GET">
        <div class="col-auto">
          <select class="custom-select mr-sm-5" name="categorySelect" onchange="submit()">
            <option value="" selected>類別</option>
            {{#each categories}}
            <option value="{{this.categoryName}}" {{#is this.categoryName ../selectedCategory }} selected {{/is}}>{{this.categoryName}}</option>
            {{/each}}
          </select>

          <select class="custom-select mr-sm-5" name="monthSelect" onchange="submit()">
            <option value="" selected>所有月份</option>
            {{#each months}}
            <option value="{{this.name_number}}" {{#is this.name_number ../selectedMonth}} selected {{/is}}>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      </form>
    </div>
    <div class="d-flex amount-section justify-content-center mt-3">
      <div class="d-flex totalAmount">總金額:</div>
      <div class="showAmount d-flex p-2 bd-highlight">
        <p class="display-2 text-warning">{{totalAmount}}</p>
      </div>
    </div>
    <!--list-->
    <ul class="list-group" id="data-panel">
      {{#each records}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-auto mr-auto">
            <i class="{{this.icon}}"></i>
            <h4 style="display: inline; vertical-align: middle;">
              {{this.name}}
            </h4>
            <div class="list-date">{{ toDate this.date}}</div>
            <div class="merchant">{{this.merchant}}</div>
          </div>
          <h4 class="amount" style="display: inline;vertical-align-middle;">{{this.amount}}</h4>
          <div class="col-auto">
            <!--modal button-->
            <button type="button" class="btn btn-light btn-delete" data-toggle="modal" data-target="#deleteModal"
              data-id="{{ this._id }}" data-info="{{ toDate this.date}}的{{ this.name }}">
              刪除
            </button>
            <a class="btn btn-light" href="/records/{{this._id}}/edit">編輯</a>
            {{!-- <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-light btn-delete" type="submit">刪除</button>
            </form> --}}
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
      
    <!--button-->
    <div class="d-flex justify-content-center button-section mt-5">
      <a href="/records/new">
        <button type="submit" class="btn btn-warning btn-lg">新增支出</button>
      </a>     
    </div>   
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">刪除紀錄</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="delete-modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        <form action="" method="post" id="delete-form">
          <button type="submit" class="btn btn-primary">刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>
